{% extends ['MopaBootstrapBundle:Form/fields.html.twig', 'form_div_layout.html.twig'] %}

{% use 'RafrsrFormExtraBundle:Form/Widgets:color_picker.html.twig' %}
{% use 'RafrsrFormExtraBundle:Form/Widgets:date_time_picker.html.twig' %}
{% use 'RafrsrFormExtraBundle:Form/Widgets:embedded_template.html.twig' %}
{% use 'RafrsrFormExtraBundle:Form/Widgets:switchery.html.twig' %}

{% block form_row %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            <div class="toggle_group_{{ group }}">
        {% endfor %}
    {% endif %}

    {% if template_prepend is defined %}
        {{ template_prepend|raw }}
    {% endif %}

    {{ parent() }}

    {% if template_append is defined %}
        {{ template_append|raw }}
    {% endif %}

    {% if toggle_groups is defined %}
        {% for group in toggle_groups %}
            </div>
        {% endfor %}
    {% endif %}

    {% include 'RafrsrFormExtraBundle:Form:extensions.html.twig' %}
{% endblock form_row %}
